<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>interkassa</name>
	<displayName><![CDATA[Interkassa 2]]></displayName>
	<version><![CDATA[1.5]]></version>
	<description><![CDATA[Pay with Interkassa]]></description>
	<author><![CDATA[GateOn]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to remove?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>